*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    user-select: none;
}
body{
    height: 1000px;
    width: 100%;
    background-image: linear-gradient(to right top, #000000, #0b090b, #131114, #17171a, #1a1d21, #1e2429, #222b31, #263339, #2e3e45, #374952, #40545f, #49606d); 
}
.navbar{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    background-color: #12181b;
    position:fixed;
    
}
#logo{
    width: 15%;
    height: 100%;
}
.navlogo{
    width: 100%;
    height: 100%;
    background-image: url("../resources/logo.png");
    background-size: cover;
}
.options{
    width: 40%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 20px;
    padding: 10px   ;
}
.individual{
    padding: 10px;
    padding-left:15px;
    padding-right:15px;
    border-radius: 20%;
    color: white
}
.individual:hover{
    background-color: rgba(0, 0, 0, 0.5);
    color: #00fd9b;
}
.profile{
    width: 15%;
    display: flex;
    justify-content: space-around;
    font-size: 20px;
}
.login{
    padding-top: 10px;
    padding-bottom:10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: grey;
    border-radius: 10px;
}
.login:hover{
    background-color:#01b9dd;
}
.Signup{
    padding-top: 10px;
    padding-bottom:10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #00fd9b;
    border-radius: 10px;
    color: black;
}
.Signup:hover{
    background-color:#01b9dd;
    color: white;
}

.content{
    margin-top: 120px;
    margin-left: 100px;
    height: 500px;
    width: 100%;
}
.t1{
    font-size: 90px;
    color: white;
    font-weight: 500;
}
.t2{
    font-size: 90px;
  background: -webkit-linear-gradient(white, #939698);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 500;
}
.t3{
    margin-top: 20px;
    font-size: 20px;
    color: #96989b;
}
.hero-button{
    margin-top: 30px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 25px;
    color: #96989b;
    font-weight: 600;
}
.get-started{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: greenyellow;
    border-radius: 10px;
    color: black;
}
.get-started:hover{
    background-color:#01b9dd;
}
.hero-img{
    transform: translateX(450px);
    height: 700px;
    width: 1000px;
    position:absolute;
    background-image: url("../resources/New Project.png");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -10;
}
#hyper{
    text-decoration: none;
}

